asgiref==3.12.1
Django==5.2.16
djangorestframework==3.17.1
gunicorn==26.0.0
joblib==1.5.3
narwhals==2.24.0
numpy==2.4.6
packaging==26.2
pypdf==6.14.2
PyPDF2==3.0.1
scikit-learn==1.9.0
scipy==1.17.1
sqlparse==0.5.5
threadpoolctl==3.6.0
tzdata==2026.3
